// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
/ {
	sensor_sim: sensor_sim{
		compatible = "nordic,sensor-sim";
		acc-signal = "wave";
		acc-wave-type = "triangle";
		acc-wave-amplitude = < 10 >;

	};
};

&i2c22 {
	status = "okay";

	bme280: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
		//status = "okay";		
	};	

	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c22_default>;
	pinctrl-names = "default";
};

&pinctrl {
	i2c22_default: i2c22_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SCL, 1, 11)>, <NRF_PSEL(TWIM_SDA, 1, 12)>;
		};
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		sensor_data_ex_partition: partition@0 {
			label = "sensor_data_ex_partition";
			reg = <0x00000000 0x00800000>;
		};
	};
};

/ {
    chosen {
        nordic,pm-ext-flash = &mx25r64;
    };
};